
// Default Common stlye declare this file
:root {
  --light-white: #FFFFFF;
  --white: #F5F5F5;
  --gray: #363944;
  --light-gray: #ACACAD;
  --light-purple: #B04DFF;
  --placeholder-color: #D7D7D7;
  --dark-gray: #2D2B2E;
  --grapefruit-pink:#ED6766;
  --blue: #328EEF;
  --middle-gray: #BBBBBB;
  --pink-orange: #FCF7F2;
  --light-green: #E5F2E5;
  --red: #FE453B;
  --black: #000;
  --green: #4C9C2D;
}